<div class="row">
  <div class="col xl12 l12 m12 s12 xs12">
    <div class="card">
      <div class="card-content" id="new_tweet">
        <small>
          <%= time_ago_in_words(tweet.created_at) %> ago
          - by <%= link_to tweet.user.name, tweet.user %>
          <% if tweet.user.username.present? %>
            (@<%= tweet.user.username %>)
          <% end %>
        </small>
        <p><%= tweet.content %></p>
      </div>
      <div class="card-action">
        <% unless tweet.user == current_user %>
          <% if tweet.likes.where(user: current_user).any? %>
            <%= link_to "Unlike (#{tweet.likes.count})", unlike_post_path(tweet), method: :delete, class: "unlike_post" %>
          <% else %>
            <%= link_to "Like (#{tweet.likes.count})", like_post_path(tweet), method: :post, class: "like_tweet" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
