<div class="row user-top-bar">
  <div class="col xl2 l2 m4 s12 xs12 center info-text"><%= user.tweets.count %> <strong>Tweet</strong></div>
  <div class="col xl2 l2 m4 s12 xs12 center info-text">
    <%= Connection.where(followee_id: user.id).count %> <strong>Followers</strong>
  </div>
  <div class="col xl2 l2 m4 s12 xs12 center info-text">
    <%= Connection.where(user_id: user.id).count %> <strong>Following</strong>
  </div>
  
  <% if user != current_user %>
    <div class="col xl2 l2 m6 s12 xs12 offset-xl1 offset-l1 center">
      <% if @connection.any? %>
        <%= link_to follow_path(@connection.first), class: "waves-effect waves-light btn white follow-button", method: :delete do %>
          <i class="material-icons right">arrow_downward</i>Unfollow
        <% end %>
      <% else %>
        <%= link_to user_follows_path(user), class:"waves-effect waves-light btn white follow-button", data: { method: :post } do %>
          <i class="material-icons right">arrow_upward</i>Follow
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="col xl2 l2 m6 s12 xs12 center">
    <%= link_to timelines_path, class: "waves-effect waves-light btn blue", style: "margin-top: -0.2em;" do %>
      <i class="material-icons right">view_headline</i>Timeline
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col xl3 l3 m12 s12 xs12 left-nav">
    <div class="content">
      <div class="row">
        <div class="col xl10 l10 m4 s4 xs6 offset-xl1 offset-l1 offset-m4 offset-s4 offset-xs3">
          <%= image_tag "/without-photo.png", width: '100%' %>
        </div>
      </div>
      <div class="row">
        <span class="name"><%= user.name %></span><br />
        <span class="username">@<%= user.username %></span><br />
        <%= link_to "Logout", destroy_user_session_path, method: :delete if user == current_user %>
      </div>
    </div>
  </div>

  <div class="col xl3 l3 m12 s12 xs12"></div>

  <div class="col xl9 l9 m12 s12 xs12">
    <%= alert %>
    <%= notice %>
    <%= yield %>
  </div>
</div>
