<!DOCTYPE html>
<html>
  <head>
    <title>Week14</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper top-bar row">
        <a href="#" class="brand-logo center">Logo</a>
        <div class="col xl3 l3 hide-on-med-and-down right">
          <%= form_tag searches_path, method: :get do %>
            <%= text_field_tag :search_text, "", placeholder: "Search" %>
          <% end %>
      </div>
    </nav>
        
    <%= yield %>
  </body>
</html>
